<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App03ActivityIntent">

        <!--
         <activity android:name=".MainActivity" android:exported="true">
         -->
        <!-- 01. Intent01AllUI
               <activity android:name=".Intent01AllUI" android:exported="true">-->
        <!-- 02. Intent02 -->
        <activity android:name=".Intent02First" android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  02. Intent02  필요 Activity 추가 : FQCN or Root Element 확인-->
        <activity
            android:name="example.app03activityintent.Intent02Second"/>
        <activity android:name=".Intent02Third"/>

    </application>

</manifest>